# jupyter/jupyterlab extensions
jupyter-server-proxy
jupyter-vscode-proxy
jupyterlab
jupyterlab-rise
ipywidgets
numpy

# lab-related packages
cassandra-driver
cqljupyter
sqlalchemy
ipython-sql
pprintpp